.header {
    background-color: yellowgreen;
}

.container {
    background-color: tomato;
    width: 980px;
    margin: auto;
}

.container-left {

}

.logo {

}

.menu {

}

.menu-item {
    float: left;
}